/* 
check spacing on projects title once you get a couple projects in there
need scrolling nav */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    max-width: 100%;
    flex-flow: column nowrap;
    background-color: #262626;
    padding: 0em;
    margin: 0em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.25em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

h1 {
    line-height: 1.25em;
    font-size: 3em;
}

h3 {
    font-size: 1.25em;
}

h2 {
    font-size: 2em;
}

header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

main {
    /* display: flex; */
    /* padding: 1em;
    padding-bottom: 2em; */
    /* flex-flow: column nowrap; */
    /* width: 100vw; */
    background-color:#c7a58d;
    /* padding: 1em; */
    color: #483c4e;
    padding: 0em;
    margin: 0em;
    border-top: #45506c .75em solid;
}

.main-container {
    padding: 1.5em;
    padding-top: 1em;
    display: flex;
    flex-flow: column nowrap;
    /* border-top: #45506c .75em solid; */
}

footer {
    min-height: 8em;
    width: 100%;
    background-color: #45506c;
}

.bio {
    display: flex;
    flex-flow: column nowrap;
}

.headshot {
    width: 85%;
    max-width: 25em;
    margin: auto;
    height: auto;
    object-fit: contain;
    overflow: hidden;
    border: .75em solid;
    border-color: #dfbea7;
    box-shadow: rgba(60, 63, 66, 0.342) 0px .25em .5em;
}

.skills-container {
    display: flex;
    flex-flow: column nowrap;
}

.button {
    text-align: center;
    margin: .5em;
}



header {
    height: fit-content;
    /* background-image: url("banner_version1.jpg"); */
    background-color: #45506c;
    /* background-size: 100%; */
    /* background-position: right bottom; */
    /* border-bottom: #45506c .75em solid; */
    /* transition: all ease-in-out 500ms; */
    padding: 0em;
    margin: 0;
    background-repeat: no-repeat;
}

.banner-img {
    width: 100%;
    height: auto;
    max-height: 95vh;
    object-fit: contain;
    padding: 0;
    margin: 0;
    margin-top: 3em;
}

/* .img-intro-container:hover {
    background-image: url("portrait_color_super_cropped.jpg");
    transition: all ease-in-out 500ms;
    background-color: #C9C9C9;
} */

.nav-container {
    z-index: 1;
    background-color: #424b68;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.name {
    display: none;
}


.img-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* width: 75vw; */
    height:fit-content;
}

p a {
    color: #525e86;
}

.img-nav a {
    text-align: center;
    color: #dfbea7;
    text-decoration:none;
    font-size:calc(6vw);
    /* change this to view width for better scaling? */
    margin: .5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.img-nav {
    flex-flow: row nowrap;
    height:fit-content;
    padding: 0;
    /* border-bottom: #110F10 solid .4em;
    border-left: #110F10 solid .4em;
    border-right: #110F10 solid .4em; */
    border-radius: 1em;
}

/* h1 {
    display: none;
} */

footer h3 {
    margin: 3em;
    color: #c7a58d;
}

.header-title {
    display: none;
}

@media (min-width: 500px) {

    main {
        padding: 2em;
        padding-top: .5em;
    }

    /* .nav-container {
        display: flex;
        flex-flow: column nowrap;
    } */

    /* .img-intro-container:hover {
        background-image: url("portrait_color_long.jpg")
    } */

    /* .img-intro-container {
        background-image: url("banner_version2.jpg");
        background-size: 100% auto;
    } */

    .nav-container {
        display: flex;
        flex-flow: row nowrap;
    }
    .img-nav {
        width: fit-content;
        margin-left: auto;
    }

    .img-nav a {
        font-size: 1.25em;
        margin: 0em;
    }

    .button {
        margin: .5em .5em .5em .5em;
    }

    .name {
        margin: .45em;
        display: block;
        color:#ce896c;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 1.25em;
        padding: 0;
    }

}

@media (min-width: 750px) {


    /* .img-intro-container {
        padding: 0em 0em;
    } */

    /* .img-nav {
        flex-flow: row nowrap;
        height:fit-content;
        padding: 0; */
        /* border-bottom: #110F10 solid .4em;
        border-left: #110F10 solid .4em;
        border-right: #110F10 solid .4em; */
        /* border-radius: 1em;
    } */

    /* .img-nav a {
        font-size:calc(4vw);
    } */

    .skills-container {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    /* .button {
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: space-around;
        margin: .25em;
        padding: 0em;
        border-radius: 1em;
    }

    .button:hover {
        background-color:#DFE0E5;
        transition: all ease-in-out 150ms;
    } */
}

@media (min-width: 900px) {

    main {
        padding: 3em;
        padding-top: .5em;
        border: none;
    }

    .main-container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-container {
        padding: .25em 2em .25em 2em;
        z-index: 3;
        width: 100%;
    }

    header {
        background-image: linear-gradient(to top, #c7a58d, #45506c, #45506c00);
        flex-flow: row wrap;
        justify-content: center;
    }

    .banner-img {
        height: fit-content;
        z-index: 1;
        max-width: 70%;
        max-height: 90vh;
        width: fit-content;
        margin-left: 3em;
    }

    .header-title {
        display: block;
        z-index: 2;
        max-width: 40%;
        width: fit-content;
        height: fit-content;
        margin-left: -16em;
        margin-top: 7.75em;
        /* position: absolute;
        right: 2em;
        top: 13em; */
        /* background-color: #424b68e0; */
        background-image: linear-gradient(to bottom, #45506c, #45506cd4,  #45506c5a, #45506c00);
        /* box-shadow: rgba(60, 63, 66, 0.342) 0px .25em .5em; */
        padding: 1.5em;
        border-radius: 3em .5em 3em .5em;
    }

    .header-title h1 {
        font-size: calc(8vw);
        margin: 0em;
    }

    .bio {
        display: flex;
        flex-flow: row wrap;
        margin-top: 1em;
    }

    .bio-title, .job-title, .skills-container {
        width: 100%;
    }

    .headshot, .bio-info {
        width: 50%;
        margin-top: 2em;
        margin-bottom: 4em;
    }

    .bio-title {
        order: 1;
    }

    .job-title {
        order: 2;
    }

    .headshot {
        order: 4;
        /* box-shadow: rgba(60, 63, 66, 0.342) 0px .25em .5em; */
    }

    .bio-info {
        order: 3;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        padding: 2em;
    }

    .skills-container {
        order: 5;
        background-color: #45506c;
        color: #c69a7a;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 3em .5em 3em .5em;
        box-shadow: rgba(60, 63, 66, 0.342) 0px .25em .5em;
    }

    .developer {
        color: #8a95ba;
    }
    
    .designer {
        color: #dfbea7;
        text-decoration: underline;
    }
    
    .artist {
        color:  #ce896c;
        text-decoration: overline;
    } 

    /* h1 {
        display:block;
        line-height: 1.5em;
        font-variant: small-caps;
        font-size: 4em;
    } */

    /* .img-intro-container {
        padding: 0 3em;
    } */
    

    /* .brief-intro {
        display: contents;
        font-size: 3em;
    } */
}

@media (min-width: 1100px) {

    .header-title {
        right: 11em;
        top: 10em;
    }
}